workflows/WF-B-order-processing-v2.json
{
  "name": "WF-B: Order Processing (v2 - with staff notification)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orders/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
      "name": "Webhook - Order Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Order Input Validation\nconst body = $input.first().json.body;\n\n// Required fields validation\nconst requiredFields = ['channel', 'source', 'cart', 'contact'];\nconst missingFields = requiredFields.filter(field => !body[field]);\n\nif (missingFields.length > 0) {\n  return [{\n    json: {\n      error: \"Missing required fields\",\n      missingFields: missingFields,\n      shouldReject: true,\n      statusCode: 400\n    }\n  }];\n}\n\n// Validate cart\nif (!Array.isArray(body.cart) || body.cart.length === 0) {\n  return [{\n    json: {\n      error: \"EMPTY_CART\",\n      message: \"ไม่มีรายการอาหารในตะกร้า กรุณาเลือกเมนูที่ต้องการสั่ง\",\n      shouldReject: true,\n      statusCode: 400\n    }\n  }];\n}\n\n// Validate cart items\nfor (let i = 0; i < body.cart.length; i++) {\n  const item = body.cart[i];\n  if (!item.menu_id || !item.qty || item.qty < 1) {\n    return [{\n      json: {\n        error: \"Invalid cart item\",\n        message: `รายการที่ ${i+1} ไม่ถูกต้อง`,\n        shouldReject: true,\n        statusCode: 400\n      }\n    }];\n  }\n}\n\n// Validate contact info\nif (!body.contact.name || !body.contact.phone) {\n  return [{\n    json: {\n      error: \"Missing contact info\",\n      message: \"กรุณากรอกชื่อและเบอร์โทรศัพท์\",\n      shouldReject: true,\n      statusCode: 400\n    }\n  }];\n}\n\n// All validations passed\nreturn [{\n  json: {\n    orderData: body,\n    channel: body.channel,\n    source: body.source,\n    cart: body.cart,\n    contact: body.contact,\n    userRef: body.user_ref || {},\n    shouldReject: false,\n    validatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "2b3c4d5e-6f7g-8901-bcde-f23456789012",
      "name": "Validate Order Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-reject",
              "leftValue": "={{ $json.shouldReject }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c4d5e6f-7g8h-9012-cdef-345678901234",
      "name": "Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"error\": $json.error, \"message\": $json.message || \"Invalid request\" } }}",
        "responseCode": "={{ $json.statusCode || 400 }}"
      },
      "id": "4d5e6f7g-8h9i-0123-def1-456789012345",
      "name": "Reject Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://qlhpmrehrmprptldtchb.supabase.co/rest/v1/menus",
        "authentication": "genericCredential",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "apikey",
          "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMzcwNDIsImV4cCI6MjA2OTkxMzA0Mn0.SnTR2caXeCiQY_de6PEk1Dc0TVS9fP1s9qym_WbE114"
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMzcwNDIsImV4cCI6MjA2OTkxMzA0Mn0.SnTR2caXeCiQY_de6PEk1Dc0TVS9fP1s9qym_WbE114"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,name,price,is_available"
            },
            {
              "name": "is_available",
              "value": "eq.true"
            }
          ]
        },
        "options": {}
      },
      "id": "5e6f7g8h-9i0j-1234-ef12-567890123456",
      "name": "Get Menu Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Re-calculate Order Total (Security: prevent price tampering)\nconst cart = $('Validate Order Input').first().json.cart;\nconst menuData = $input.first().json;\n\n// Create menu price lookup\nconst menuPrices = {};\nmenuData.forEach(menu => {\n  menuPrices[menu.id] = {\n    name: menu.name,\n    price: parseFloat(menu.price),\n    is_available: menu.is_available\n  };\n});\n\nlet calculatedTotal = 0;\nconst validatedItems = [];\nconst errors = [];\n\n// Validate each cart item and re-calculate prices\nfor (const item of cart) {\n  const menuInfo = menuPrices[item.menu_id];\n  \n  if (!menuInfo) {\n    errors.push(`เมนู ID ${item.menu_id} ไม่พบในระบบ`);\n    continue;\n  }\n  \n  if (!menuInfo.is_available) {\n    errors.push(`${menuInfo.name} ไม่สามารถสั่งได้ในขณะนี้`);\n    continue;\n  }\n  \n  const itemTotal = menuInfo.price * item.qty;\n  calculatedTotal += itemTotal;\n  \n  validatedItems.push({\n    menu_id: item.menu_id,\n    menu_name: menuInfo.name,\n    qty: item.qty,\n    unit_price: menuInfo.price,\n    item_total: itemTotal,\n    note: item.note || null\n  });\n}\n\n// Check for errors\nif (errors.length > 0) {\n  return [{\n    json: {\n      error: \"INVALID_ITEMS\",\n      message: errors.join(', '),\n      errors: errors,\n      shouldReject: true,\n      statusCode: 400\n    }\n  }];\n}\n\nif (validatedItems.length === 0) {\n  return [{\n    json: {\n      error: \"EMPTY_VALID_CART\",\n      message: \"ไม่มีรายการที่สามารถสั่งได้\",\n      shouldReject: true,\n      statusCode: 400\n    }\n  }];\n}\n\n// Return validated order data\nreturn [{\n  json: {\n    validatedItems: validatedItems,\n    calculatedTotal: calculatedTotal,\n    originalData: $('Validate Order Input').first().json,\n    shouldReject: false,\n    priceValidatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "6f7g8h9i-0j1k-2345-fg23-678901234567",
      "name": "Re-calculate Prices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "price-error",
              "leftValue": "={{ $json.shouldReject }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7g8h9i0j-1k2l-3456-gh34-789012345678",
      "name": "Price Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://qlhpmrehrmprptldtchb.supabase.co/rest/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMzNzA0MiwiZXhwIjoyMDY5OTEzMDQyfQ.foCnBLUA6SOXHPBKuBJaKu2A1CPUeetMTjXWSbBkObU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMzNzA0MiwiZXhwIjoyMDY5OTEzMDQyfQ.foCnBLUA6SOXHPBKuBJaKu2A1CPUeetMTjXWSbBkObU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "line_user_id",
              "value": "={{ $('Validate Order Input').first().json.userRef.line_user_id || null }}"
            },
            {
              "name": "psid",
              "value": "={{ $('Validate Order Input').first().json.userRef.psid || null }}"
            },
            {
              "name": "name",
              "value": "={{ $('Validate Order Input').first().json.contact.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Validate Order Input').first().json.contact.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8h9i0j1k-2l3m-4567-hi45-890123456789",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://qlhpmrehrmprptldtchb.supabase.co/rest/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMzNzA0MiwiZXhwIjoyMDY5OTEzMDQyfQ.foCnBLUA6SOXHPBKuBJaKu2A1CPUeetMTjXWSbBkObU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMzNzA0MiwiZXhwIjoyMDY5OTEzMDQyfQ.foCnBLUA6SOXHPBKuBJaKu2A1CPUeetMTjXWSbBkObU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Upsert Customer').first().json[0].id }}"
            },
            {
              "name": "status",
              "value": "pending"
            },
            {
              "name": "source",
              "value": "={{ $('Validate Order Input').first().json.source }}"
            },
            {
              "name": "channel",
              "value": "={{ $('Validate Order Input').first().json.channel }}"
            },
            {
              "name": "total_price",
              "value": "={{ $('Re-calculate Prices').first().json.calculatedTotal }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9i0j1k2l-3m4n-5678-ij56-901234567890",
      "name": "Create Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Order Items for Bulk Insert\nconst orderId = $('Create Order').first().json[0].id;\nconst validatedItems = $('Re-calculate Prices').first().json.validatedItems;\n\n// Format items for Supabase bulk insert\nconst orderItems = validatedItems.map(item => ({\n  order_id: orderId,\n  menu_id: item.menu_id,\n  qty: item.qty,\n  price: item.unit_price,\n  note: item.note\n}));\n\nreturn [{\n  json: {\n    orderItems: orderItems,\n    orderId: orderId,\n    itemCount: orderItems.length\n  }\n}];"
      },
      "id": "0j1k2l3m-4n5o-6789-jk67-012345678901",
      "name": "Prepare Order Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://qlhpmrehrmprptldtchb.supabase.co/rest/v1/order_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMzNzA0MiwiZXhwIjoyMDY5OTEzMDQyfQ.foCnBLUA6SOXHPBKuBJaKu2A1CPUeetMTjXWSbBkObU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaHBtcmVocm1wcnB0bGR0Y2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMzNzA0MiwiZXhwIjoyMDY5OTEzMDQyfQ.foCnBLUA6SOXHPBKuBJaKu2A1CPUeetMTjXWSbBkObU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.orderItems) }}",
        "options": {}
      },
      "id": "1k2l3m4n-5o6p-7890-kl78-123456789012",
      "name": "Insert Order Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate Staff Notification Message (from workflows.md template)\nconst order = $('Create Order').first().json[0];\nconst customer = $('Upsert Customer').first().json[0];\nconst validatedItems = $('Re-calculate Prices').first().json.validatedItems;\nconst originalData = $('Validate Order Input').first().json;\n\n// Format datetime\nconst now = new Date();\nconst datetime = now.toLocaleString('th-TH', {\n  timeZone: 'Asia/Bangkok',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Channel name mapping\nconst channelNames = {\n  'line': 'LINE',\n  'fb': 'Facebook',\n  'ig': 'Instagram'\n};\n\n// Build items list\nlet itemsList = '';\nvalidatedItems.forEach(item => {\n  itemsList += `- ${item.menu_name} x${item.qty} (${item.item_total}฿)`;\n  if (item.note) {\n    itemsList += ` | หมายเหตุ: ${item.note}`;\n  }\n  itemsList += '\\n';\n});\n\n// Generate notification message\nconst notificationMessage = `🔔 ออเดอร์ใหม่ #${order.id}\n📅 ${datetime}\n💰 ยอดรวม: ${order.total_price} บาท\n📋 รายการ:\n${itemsList}\n👤 ลูกค้า: ${customer.name}\n📞 เบอร์: ${customer.phone}\n📱 แชท: ${channelNames[originalData.channel] || originalData.channel}\n🌐 แหล่งที่มา: ${originalData.source}\n\n[ยืนยัน] [ปฏิเสธ] [ดูรายละเอียด]`;\n\nreturn [{\n  json: {\n    orderId: order.id,\n    notificationMessage: notificationMessage,\n    customerInfo: customer,\n    orderSummary: {\n      id: order.id,\n      total: order.total_price,\n      itemCount: validatedItems.length,\n      channel: originalData.channel,\n      source: originalData.source\n    }\n  }\n}];"
      },
      "id": "2l3m4n5o-6p7q-8901-lm89-234567890123",
      "name": "Generate Staff Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"order_id\": $('Create Order').first().json[0].id, \"total_price\": $('Re-calculate Prices').first().json.calculatedTotal, \"items_count\": $('Prepare Order Items').first().json.itemCount, \"message\": \"สั่งอาหารเรียบร้อยแล้ว รอการยืนยันจากร้านค่ะ\", \"notification_sent\": true } }}"
      },
      "id": "3m4n5o6p-7q8r-9012-mn90-345678901234",
      "name": "Success Response (with notification)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2440,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Order Create": {
      "main": [
        [
          {
            "node": "Validate Order Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Order Input": {
      "main": [
        [
          {
            "node": "Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Check": {
      "main": [
        [
          {
            "node": "Reject Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Menu Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu Prices": {
      "main": [
        [
          {
            "node": "Re-calculate Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-calculate Prices": {
      "main": [
        [
          {
            "node": "Price Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Validation Check": {
      "main": [
        [
          {
            "node": "Reject Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "main": [
        [
          {
            "node": "Prepare Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Items": {
      "main": [
        [
          {
            "node": "Insert Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order Items": {
      "main": [
        [
          {
            "node": "Generate Staff Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Staff Notification": {
      "main": [
        [
          {
            "node": "Success Response (with notification)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-18T12:00:00.000Z",
  "versionId": "2"
}